---
import type { Link as BaseLink } from '../types';

type Link = BaseLink & { isTitle?: boolean };

const linkClass = "font-sans";

const links: Link[] = [
  { href: "/issues", label: "ISSUES" },
  { href: "/events", label: "EVENTS" },
  { href: "/", label: "NOTCH MAGAZINE", isTitle: true },
  { href: "/stockists", label: "STOCKISTS" },
  { href: "/shop", label: "SHOP" },
];

function getLinkClass(link: Link): string {
  if (link.isTitle) {
    return `${linkClass} text-[72px]`;
  }

  return `${linkClass} text-[36px] ${Astro.url.pathname === link.href ? '' : 'hover:underline'}`;
}
---

<nav class="bg-secondary text-primary flex justify-between items-center m-4">
  <div class="w-full flex justify-between items-center px-30">
    {links.map((link) => (
      <a href={link.href} class={getLinkClass(link)}>{link.label}</a>
    ))}
  </div>
</nav>
